$bg-bright: #8DECB4;
$bg-dark: #41B06E;

$text-bright: #FFF5E0;
$text-dark: #141E46;

$h1: 32;
$h2: 24;
$font-size: 16;
$font-size-small: 12;



/*
// Gradient mixin
@mixin gradient-background($start-color, $end-color) {
  background-image: linear-gradient(to right, $start-color, $end-color);
}
*/
